<!DOCTYPE html>
<html lang="en"> 

<!-- HEAD -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Traditions of Alma Maters</title>

        <link rel="icon" src="../../images/favicon.png" sizes="16x16" type="image/png">

                <!-- jQuery -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                <!-- Leaflet CSS & JS -->
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                crossorigin=""/>

                <!-- Make sure you put this AFTER Leaflet's CSS -->
                <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                crossorigin=""></script>


                <!--D3 cdn-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
        
                <!-- BOOTSTRAP // CSS --> 
                
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="../../css/style.css">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    
                <!-- jQuery -->
                <script   src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        
                <!-- Mabpox GL -->
                <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
                <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet'>
        
                <!-- Mapbox.js (fallback) -->
                <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
                <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
        
                <!-- GeoViewport -->
                <script src='//api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>

    </head>

<!-- BODY --> 

    <body class="body">

 <!-- HEADER NAV MENU BAR -->
 <header class="header">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav class="navbar navbar-dark fixed-top navbar-expand-lg text-right"" >
                    
                    <!-- LANDING PAGE // LOGO -->
                    <a class="navbar-brand" href="../../../index.html">Alma Maters</a>
                    <div id="navbarSupportedContent">
                        <ul class="nav navbar-nav text-right">

                            <!-- LANDING PAGE // INDEX.HOME -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="../../../index.html">Home<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            
                            <!-- REPORT GENERATED FROM FLASK QUERY -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="../romanticroots.html">Romantic Roots</a>
                            </li>

                             <!-- Featured Queries -- Back-up if live data processes to slowly for the demo -->
                             <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="../yellowandblue.html">The Yellow and Blue</a>
                            </li>
                            
                            <!-- TEMPLATES TAB // PRESENTATION -->
                            <li class="nav-item text-right">
                                <a class="nav-link active" href="../annielisle.html">Annie Lisle</a>
                            </li>
                            <!-- TEMPLATES TAB // ABOUT US -->
                            <li class="nav-item text-right">
                                    <a class="nav-link text-muted" href="../conclusion.html">Conclusion</a>
                                </li>
                            <!-- TEMPLATES TAB // PRESENTATION -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="../submit.html">Submit</a>
                            </li>
 
                        </ul>       
                    </div>
                </nav>   
            </div>
        </div>
    </div>
    <!-- WITH HERO BANNER INSTEAD OF MAP -->
</header>
    <div class="row">
            <div class="annielisle text-center">
            
                    <h1>Annie Lisle</h1>
                    <p>
                            The melody of “Annie Lisle” was the most commonly used in my data set. It is believed to have first</br> 
                            been used for Cornell’s alma mater, “Far Above Cayuga’s Waters” in 1870. Despite its widespread use </br> 
                            as the tune of many high school and university alma
                            maters, little has been written about the composer, H.S. Thompson</p>
            
            </div>
        </div>
        <div class="container-fluid">
        
                <div class="row" style="background-color: #FFFFFF">
                
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10"> 
                           
                                <h3 style="padding:75px">H.S. Thompson was born in Massachusetts in 1825 and was an active performer, 
                                    teacher, and composer. He was connected with minstrel groups in Boston and St. Louis. 
                                    Perhaps his connection to minstrelsy is a reason that little is known about him. 
                                    He has appeared in some census reports, but there are few written accounts regarding Thompson. 
                                    His biographical information was investigated by James Joyce scholars because another one of his songs, 
                                    “Lily Dale,” is quoted in <em>A Portrait of the Artist as a Young Man</em> in 1916. 
                                    This shows that his music was widespread and popular well into the 20th century</h3>
                            
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                
                </div>
            </div>

            <div class="container-fluid">
        
                    <div class="row" style="background-color: #24305E">
                    
                        <div class="col-lg-1 col-md-1 col-sm-1"> 
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10"> 
                               
                                    <h3 style="padding:75px; color:white">“Annie Lisle” was popular during the time Cornell 
                                        was founded in 1865 and students were likely singing around campus which made it 
                                        easily adopted to the tune of the alma mater. In my data set, the University of Kansas 
                                        was the first to use “Annie Lisle” for the alma mater after Cornell in 1891 and was quickly 
                                        followed by Syracuse University and Indiana University in 1893. Since “Annie Lisle” remained 
                                        a popular tune, it is hard to tell if other universities were inspired by Cornell’s alma mater 
                                        or set the tune independently. However, based on similar themes in the text, it would seem that Cornell’s 
                                        song was well known and enviable for an alma mater. Alma maters set to this tune typically start by introducing the 
                                        landscape of the university and include the word “hail” in the refrain</h3>
                                
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"> 
                        </div>
                    
                    </div>
                </div>

        <div class="container-fluid">
        
                <div class="row" style="background-color: #FFFFFF">
                
                    <div class="col-lg-2 col-md-2 col-sm-2"  style="height:720px; background:#24305E"> </br>
                        <table style="padding-top:20px">
                            <tr class="cornell"><td><a class="nav-link active cornell" href="../annielisle.html">Cornell University</a></td></tr>
                            <tr class="emory"><td><a class="nav-link active emory" href="emory.html">Emory University</a></td></tr>
                            <tr class="indiana" ><td><a class="nav-link active indiana" href="indiana.html">Indiana University</a></td></tr>
                            <tr class="indianastate"><td><a class="nav-link active indianastate" href="indianastate.html">Indiana State University</a></td></tr>
                            <tr class="lehigh" ><td><a class="nav-link active lehigh" href="lehigh.html">Lehigh University</a></td></tr>
                            <tr class="syracuse" ><td><a class="nav-link active syracuse" href="syracuse.html">Syracuse University</a></td></tr>
                            <tr class="akron"><td><a class="nav-link active akron" href="akron.html">University of Akron</a></td></tr>
                            <tr class="alabama" ><td><a class="nav-link active alabama" href="alabama.html">University of Alabama</a></td></tr>
                            <tr class="georgia" style="background-color:#0039A6"><td><a class="nav-link active georgia" href="georgia.html">University of Georgia</a></td></tr>
                            <tr class="kansas"><td><a class="nav-link active kansas" href="kansas.html">University of Kansas</a></td></tr>
                            <tr class="missouri"><td><a class="nav-link active missouri" href="missouri.html">University of Missouri</a></td></tr>
                            <tr class="northcarolina"><td><a class="nav-link active northcarolina" href="northcarolina.html">University of North Carolina</a></td></tr>
                            <tr class="vanderbilt"><td><a class="nav-link active vanderbilt" href="vanderbilt.html">Vanderbilt University</a></td></tr>
                        </table>
                        
                        
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4" style="padding-left:75px"> 
                            <h3><strong>University of Georgia</strong></h3></br>
                            <p>From the hills of Georgia's northland</br>
                            Beams thy noble brow,</br>
                            And the sons of Georgia rising</br>
                            Pledge with sacred vow.</br>
                            'Neath the pine trees' stately shadow</br>
                            Spread thy riches rare.</br>
                            And thy sons, dear Alma Mater,</br>
                            Will thy treasures share.</br>
                            And thy daughters proudly join thee,</br>
                            Take their rightful place,</br>
                            Side by side into the future,</br>
                            Equal dreams embrace.</br>
                            Through the ages, Alma Mater,</br>
                            Men will look to thee;</br>
                            Thou the fairest of the Southland,</br>
                            Georgia's Varsity.</br>
                            (Chorus)</br>
                            Alma Mater, thee we'll honor,</br>
                            True and loyal be,</br>
                            Ever crowned with praise and glory,</br>
                            Georgia, hail to thee.</p></br>
                        </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"> 
                            <h3><strong>Cornell University</strong></h3></br>
                            <p>Far Above Cayuga's Waters</br>
                                With its waves of blue,</br>
                                Stands our noble alma mater,</br>
                                Glorious to view.</p></br>
                                
                                <p>Lift the chorus, speed it onward,</br>
                                Loud her praises tell;</br>
                                Hail to thee, our alma mater!</br>
                                Hail, all hail, Cornell!</p></br>

                            <p>Far above the busy humming</br>
                            Of the bustling town,</br>
                            Reared against the arch of heaven,</br>
                            Looks she proudly down.</p>
                        </div>

                    <div class="col-lg-3 col-md-3 col-sm-3"> 

                            <h3><strong>Annie Lisle</strong></h3></br>
                            <p>Down where the waving willows</br>
                            ’Neath the sunbeams smile,</br>
                            Shadow’d o’er the murm’ring waters</br>
                            Dwelt sweet Annie Lisle;</br>
                            Pure as the forest lily,</br>
                            Never tho’t of guile</br>
                            Had its home within the bosom</br>
                            Of sweet Annie Lisle.</p></br>
                            
                            <p>Wave willows, murmur waters,</br>
                            Golden sunbeams, smile!</br>
                            Earthly music cannot waken</br>
                            Lovely Annie Lisle.</p></br>
                            
                            <p>Sweet came the hallow’d chiming</br>
                            Of the Sabbath bell,</br>
                            Borne on the morning breezes</br>
                            Down the woody dell.</br>
                            On a bed of pain and anguish</br>
                            Lay dear Annie Lisle,</br>
                            Chang’d were the lovely features,</br>
                            Gone the happy smile.</p></br>
                            
                            <p>Wave willows, murmur waters,</br>
                            Golden sunbeams, smile!</br>
                            Earthly music cannot waken</br>
                            Lovely Annie Lisle.</p></br>
                        </div>

                          
                </div>
            </div>


    



</body>
<footer>
        <div id="footer-strip"></div>
          Kari Lindquist 2019 (c) 
      </footer>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </footer>
</html>