<!DOCTYPE html>
<html lang="en"> 

<!-- HEAD -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Traditions of Alma Maters</title>

        <link rel="icon" src="../images/favicon.png" sizes="16x16" type="image/png">

                <!-- jQuery -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                <!-- Leaflet CSS & JS -->
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                crossorigin=""/>

                <!-- Make sure you put this AFTER Leaflet's CSS -->
                <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                crossorigin=""></script>


                <!--D3 cdn-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
        
                <!-- BOOTSTRAP // CSS --> 
                
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="../css/style.css">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    
                <!-- jQuery -->
                <script   src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        
                <!-- Mabpox GL -->
                <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
                <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet'>
        
                <!-- Mapbox.js (fallback) -->
                <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
                <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
        
                <!-- GeoViewport -->
                <script src='//api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>

    </head>

<!-- BODY --> 

    <body class="body">

 <!-- HEADER NAV MENU BAR -->
 <header class="header">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav class="navbar navbar-dark fixed-top navbar-expand-lg text-right"" >
                    
                    <!-- LANDING PAGE // LOGO -->
                    <a class="navbar-brand" href="../../index.html">Alma Maters</a>
                    <div id="navbarSupportedContent">
                        <ul class="nav navbar-nav text-right">

                            <!-- LANDING PAGE // INDEX.HOME -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="../../index.html">Home<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            
                            <!-- REPORT GENERATED FROM FLASK QUERY -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="romanticroots.html">Romantic Roots</a>
                            </li>

                             <!-- Featured Queries -- Back-up if live data processes to slowly for the demo -->
                             <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="yellowandblue.html">The Yellow and Blue</a>
                            </li>
                            
                            <!-- TEMPLATES TAB // PRESENTATION -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="annielisle.html">Annie Lisle</a>
                            </li>
                            <!-- TEMPLATES TAB // ABOUT US -->
                            <li class="nav-item text-right">
                                    <a class="nav-link text-active" href="conclusion.html">Conclusion</a>
                                </li>
                            <!-- TEMPLATES TAB // PRESENTATION -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="submit.html">Submit</a>
                            </li>

                            <!-- TEMPLATES DROPDOWN // STILL FIGURING OUT WHAT WE MIGHT NEED -->
                            
                            <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Data Walkthrough
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item text-muted" href="../acs_notebook">ACS 5-Year</a><br>
                                        <a class="dropdown-item text-muted" href="../fec_notebook">FEC Donor Data</a><br>
                                        <a class="dropdown-item text-muted" href="../mysql_db">MySQL Database</a><br>
                                        <a class="dropdown-item text-muted" href="../aws_db">AWS BigQuery</a><br>
                                    </div>
                                    </li> -->
                                    

                            
                        </ul>       
                    </div>
                </nav>   
            </div>
        </div>
    </div>
    <!-- WITH HERO BANNER INSTEAD OF MAP -->
</header>
    <div class="row">
            <div class="hero text-center">
            
                    <h1>Conclusion</h1>
                
            </div>
        </div>
        <div class="container-fluid">
                
                <div class="row" >
                
                        <div class="col-lg-1 col-md-1 col-sm-1"> 
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10"> 
                              
                                    
                                    


                                        <h3 style="padding-top:25px; padding-left:75px; padding-right:75px; ">
                                                An effective alma mater has a familiar melody and evokes nostalgia for the college years. 
The tradition of alma maters has persisted at least in part as a way to fuel 
sentimental attachments to the university that lead to major gift donations. 
In an article on Harvard’s alma mater, “Fair Harvard,” the band director explains 
how the band acts as a “spirit unit” at alumni events and “encourages alumni to raise 
song”—not to mention give money—“to Harvard.” Alma maters are used as a way to engage 
alumni and raise funds. Princeton’s alma mater displays dedication to the university 
proclaiming “our hearts will give while we shall live.” </br></br>

Roosevelt University hosted a contest to write an alma mater for the school. 
A text was chosen and a composition faculty member wrote the accompanying music. 
This is common practice for many alma maters around the late 19th early 20th century. 
However, for Roosevelt University, this process took place in 2003. </br></br>

At events, alma maters are usually sung a cappella, or with a wind band. 
From personal experience, sometimes the only people who know the words to the 
alma mater are those involved with vocal organizations/glee clubs or the marching 
band at a University. Marching bands will often play or lead an alma mater and are 
keepers of that tradition. What is the role of the alma mater today? And who knows it anyway?</br></br>

Most alma maters are printed on programs for event for widespread singing with just the 
lyrics in strophic form and not accompanying music printed. Even at church occasions or 
weddings, pamphlets with simple melodies are notated and distributed so that that people 
can pick up the tune. However rudimentary their musical ability, most folks can pick up 
high and low pitch or an indication of the rhythm from having printed music rather than 
just lyrics. Still in University communities, it would seem that event organizers make the 
assumption that attendees know (or can quickly pick up) the tune, but need a reminder of the 
words. Or perhaps it is a belief that the words should be printed because they resonate more 
specifically with the University and the music is superfluous. Either way, this appears to 
be the most common iteration of presenting the alma mater at formal events.</br></br>

At informal events, the alma mater seems to usually be sung a cappella by a 
group of students. In these formats, it is almost always followed by the singing of the fight song. </br></br>

Another reason the Roosevelt University alma mater may have been a flop is because of 
its large scoring. Garrop wrote the piece for full orchestra and SATB choir and scored 
the winds in two distinct parts. It seems that it was written for a specific occasion 
in which the school’s orchestra would be provided. With such a large score and a format 
that would be expensive to recreate externally, the piece does not have versatility. 
A piano reduction with single vocal melody, for example, would have allowed for more 
accessibility for the song to be distributed or learned across the University community. 
The words to the alma mater are printed for the audience without any musical notation. 
With a new alma mater, it seems that the audience would have a hard time signing along 
because they would still be unfamiliar with the tune.</br>
</h3>
                                    
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1"> 
                            </div>
                           
                
                </div>
            </div>
    



</body>
<footer>
        <div id="footer-strip"></div>
          Kari Lindquist 2019 (c)
      </footer>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </footer>
</html>