<!DOCTYPE html>
<html lang="en"> 

<!-- HEAD -->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Traditions of Alma Maters</title>

        <link rel="icon" src="../images/favicon.png" sizes="16x16" type="image/png">

                <!-- jQuery -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                <!-- Leaflet CSS & JS -->
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                crossorigin=""/>

                <!-- Make sure you put this AFTER Leaflet's CSS -->
                <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                crossorigin=""></script>


                <!--D3 cdn-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
        
                <!-- BOOTSTRAP // CSS --> 
                
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="../css/style.css">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    
                <!-- jQuery -->
                <script   src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        
                <!-- Mabpox GL -->
                <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
                <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet'>
        
                <!-- Mapbox.js (fallback) -->
                <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
                <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
        
                <!-- GeoViewport -->
                <script src='//api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>

    </head>

<!-- BODY --> 

    <body class="body">

 <!-- HEADER NAV MENU BAR -->
 <header class="header">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav class="navbar navbar-dark fixed-top navbar-expand-lg text-right"" >
                    
                    <!-- LANDING PAGE // LOGO -->
                    <a class="navbar-brand" href="../../index.html">Alma Maters</a>
                    <div id="navbarSupportedContent">
                        <ul class="nav navbar-nav text-right">

                            <!-- LANDING PAGE // INDEX.HOME -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="../../index.html">Home<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            
                            <!-- REPORT GENERATED FROM FLASK QUERY -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="romanticroots.html">Romantic Roots</a>
                            </li>

                             <!-- Featured Queries -- Back-up if live data processes to slowly for the demo -->
                             <li class="nav-item text-right">
                                <a class="nav-link active" href="yellowandblue.html">The Yellow and Blue</a>
                            </li>
                            
                            <!-- TEMPLATES TAB // PRESENTATION -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="annielisle.html">Annie Lisle</a>
                            </li>
                            <!-- TEMPLATES TAB // ABOUT US -->
                            <li class="nav-item text-right">
                                    <a class="nav-link text-muted" href="conclusion.html">Conclusion</a>
                                </li>
                            <!-- TEMPLATES TAB // PRESENTATION -->
                            <li class="nav-item text-right">
                                <a class="nav-link text-muted" href="submit.html">Submit</a>
                            </li>

                            <!-- TEMPLATES DROPDOWN // STILL FIGURING OUT WHAT WE MIGHT NEED -->
                            
                            <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Data Walkthrough
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item text-muted" href="../acs_notebook">ACS 5-Year</a><br>
                                        <a class="dropdown-item text-muted" href="../fec_notebook">FEC Donor Data</a><br>
                                        <a class="dropdown-item text-muted" href="../mysql_db">MySQL Database</a><br>
                                        <a class="dropdown-item text-muted" href="../aws_db">AWS BigQuery</a><br>
                                    </div>
                                    </li> -->
                                    

                            
                        </ul>       
                    </div>
                </nav>   
            </div>
        </div>
    </div>
    <!-- WITH HERO BANNER INSTEAD OF MAP -->
</header>
    <div class="row">
            <div class="yellowandblue text-center">
            
                   
            
            </div>
        </div>
        <div class="container-fluid">
        
                <div class="row" style="background-color: #24305E">
                
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7"> 
                           
                                <h3 style="padding-left:50px;padding-right:50px; padding-top:50px; color:white">The University of Michigan’s alma mater, 
                                    “The Yellow and Blue,” exemplifies many of the characteristics of a typical 
                                    alma mater. However, the song’s unique traits make for a useful test case for 
                                    examining how alma maters came into exist and how the melodies circulated at the time. 

                                    </br></br>

                                    English Professor and alumnus, Charles Mills Gayley, wrote the text for 
                                    “The Yellow and Blue” winning a song contest put on by the university. 
                                    The text was set to the Pirate’s Chorus called “Ever Be Happy” from 
                                    Michael William Balfe’s <em>The Enchantress</em> (1845). 
                                    
                                </h3>
                            
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"> 
                                   
                                
                            <img src="../images/gayley.jpg" style="height:300px; width:217px; padding-left:25px; padding-top:25px">
                            
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                
                </div>
            </div>

        </div>

        <div class="container-fluid">
        
            <div class="row" style="background-color: #24305E">
            
                <div class="col-lg-1 col-md-1 col-sm-1"> 
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10"> 
                       
                            <h3 style="padding-left:50px;padding-right:50px; padding-bottom:50px; color:white">

                                Today, the melody is more likely to be heard as the University 
                                Michigan’s alma mater rather than in any other context. Balfe’s 
                                work is rarely performed today, although, his English language 
                                operas were popular in the 19th century. Among Balfe’s work, 
                                <em>The Enchantress</em> is one of his least written about operas. 
                                William Tyldesley questions why all three of Balfe’s major 
                                biographers mysteriously leave out details about 
                                <em>The Enchantress</em>, only mentioning that it had been performed 
                                at Drury Lane starring Anna Thillon. After the London premiere, 
                                performances took place in New York, Philadelphia, and San Francisco. 

                                </br></br>

                            </h3>
                        
                </div>
               
                <div class="col-lg-1 col-md-1 col-sm-1"> 
                </div>
            
            </div>
        </div>

    </div>
    
    <div class="container-fluid">
                
        <div class="row" >
        
                <div class="col-lg-1 col-md-1 col-sm-1"> 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"> 
                           
                        
                        <img src="../images/balfe.jpg" style="height:300px; width:223px; padding-left:25px; padding-top:35px">
                            
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7"> 
                           

                    <h3 style=" padding-top:15px; padding-right:75px;padding-bottom:50px; ">
                       
                        Dublin born Michael William Balfe was one of the most popular 
                        composers of English-language opera. English language opera 
                        was popular in the US throughout the 1860s and 70s. Katherine K. Preston 
                        explores English-language opera companies that were prominent in the 
                        post-bellum South performing primarily European repertoire translated 
                        into English. In her book 
                        <em>Opera for the People</em>, she argues that despite popular belief that opera 
                        was reserved for social elites, at the time, people of what we would now 
                        call middle class were enjoying English language opera regularly. 
                        The use of the melody from 
                        <em>The Enchantress</em> in “The Yellow and Blue” attests to the opera’s popularity. 

                    </h3>
                            
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"> 
                </div>
                   
        
        </div>
    </div>

    
    
            <div class="container-fluid">
        
                <div class="row" style="background-color: #24305E">
                
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10"> 
                           
                                <h3 style="padding:50px; color:white">
                                    People were likely singing the chorus regularly around the 
                                    time Gayley was writing the lyrics to “The Yellow and Blue” 
                                    in 1886. In his own account of the song in a 1925 interview, 
                                    Gayley explains how he chose “the Pirates’ Chorus from one of 
                                    Balfe’s operas” which he regarded as “an inspiring and not too 
                                    hackneyed air.” Gayley’s family was Irish so he may have been more 
                                    familiar with Balfe’s work leading him to choose the melody. However, 
                                    he doesn’t mention The Enchantress specifically indicating the opera’s 
                                    relative obscurity in 1925 when he was recalling writing the song. 
    
                                </br></br>
    
                                Gayley’s interview also tells us how the song became a part of the campus 
                                culture. He mentions the glee club promoted it widely and his lyrics were 
                                circulated by pamphlet on campus for about three years. 
    
                                </h3>
                            
                    </div>
                   
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                
                </div>
            </div>
    
        </div>
        
        <div class="container-fluid">
                
            <div class="row" >
            
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                   
                    <div class="col-lg-10 col-md-10 col-sm-10"> 
                           
                        <img src="../images/columbia.png" style="height:350px; width:600px; padding-top:35px;padding-bottom:15;" class="center">

                        <h3 style=" padding-right:50px; padding-left:50px;padding-bottom:50px;">
                           
                            In addition to its use in “The Yellow and Blue,” the melody was also 
                            adapted to an American patriotic song “Raise the Bright Flag of Columbia” 
                            in 1849. Before the civil war, the melody was adapted to this patriotic 
                            version and sold as a printed quartet by Lee & Walker in Philadelphia. 
                            A copy of “Raise the Bright Flag of Columbia” has been digitized by 
                            <a href="https://www.loc.gov/resource/sm1849.481240.0" target="_blank">the Library of Congress</a>. 

                            It was likely being sold soon after <em>The Enchantress</em> was performed 
                            in Philadelphia. This version of the song complicates how the melody 
                            was being circulated. At the time, was the melody more closely associated 
                            with Balfe, the Irish, English-language opera composer? Or were people 
                            familiar with the tune from “Raise the Bright Flag of Columbia”? Whichever 
                            the case, Balfe’s melody was adapted into American culture and is still 
                            performed today most frequently as the University of Michigan’s alma mater, 
                            “The Yellow and Blue.” 
    
                        </h3>
                                
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"> 
                    </div>
                       
            
            </div>
        </div>

        <div class="container-fluid">
        
            <div class="row" style="background-color: #24305E">
            
                <div class="col-lg-1 col-md-1 col-sm-1"> 
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10"> 
                       
                            <h2 style="padding-left:50px;padding-top:50px;  color:white">The Yellow and Blue</h2>
                            <h3 style="padding-left:50px;padding-top:10px; color:white">
                                
                                <p>Sing to the colors that float in the light;</br>
                                Hurrah for the Yellow and Blue!</br>
                                Yellow the stars as they ride through the night</br>
                                And reel in a rollicking crew;</br>
                                Yellow the field where ripens the grain</br>
                                And yellow the moon on the harvest wain;</br>
                                -Hail!</br>
                                Hail to the colors that float in the light</br>
                                Hurrah for the Yellow and Blue!</p></br>

                                <p>Blue are the billows that bow to the sun</br>
                                When yellow-robed morning is due.</br>
                                Blue are the curtains that evening has spun</br>
                                The slumbers of Phoebus to woo;</br>
                                Blue are the blossoms to memory dear</br>
                                And blue is the sapphire and gleams like a tear;</br>
                                -Hail!</br>
                                Hail to the ribbons that nature has spun;</br>
                                Hurrah for the Yellow and Blue!</p></br>

                                <p>Here's to the college whose colors we wear,</br>
                                Here's to the hearts that are true!</br>
                                Here's to the maid of the golden hair,</br>
                                And eyes that are brimming with blue!</br>
                                Garlands of bluebells and maize intertwine,</br>
                                And hearts that are true and voices combine;</br>
                                -Hail!</br>
                                Hail to the college whose colors we wear;</br>
                                Hurrah for the Yellow and Blue!</p></br>
                                

                            </h3>
                        
                </div>
               
                <div class="col-lg-1 col-md-1 col-sm-1"> 
                </div>
            
            </div>
        </div>

    </div>

</body>


    <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background:#374785;">

        <!-- Footer Links -->
        <div class="container text-lg-left text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-12 mx-auto" style="color:#FFFFFF;padding-top:25px">
      
              <!-- Content -->
            
              <u>References</u> </br>
              Kurtz, Benjamin Putnam. <em>Charles Mills Gayley</em>. Berkeley: University of California Press, 1943.</br></br>
              Preston, Katherine K. <em>Opera for the People: English-language Opera and Women Managers in Late 19th-century America</em>. United States: Oxford University Press, 2017.</br></br>
              Tyldesley, William. <em>Michael William Balfe: His Life and His English Operas</em>. Music in 19th-Century Britain. Aldershot, Hants, England: Ashgate, 2003.</br></br>
                
            </div>
            <!-- Grid column -->
      
      
        <!-- Copyright -->
        <div class="footer-copyright text-left py-3" style="color:#FFFFFF;padding-left:15px"> <p>Kari Lindquist 2019 © </p> 
        </div>
        <!-- Copyright -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      </footer>


</html>